<?xml version="1.0" encoding="utf-8"?>

<CasServerConfiguration xmlns:i="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns="http://schemas.datacontract.org/2004/07/Dev.CasServer.Configuration">
  <ClientList>
    <Client>
      <Url>
        http://localhost:11028/
      </Url>
    </Client>
    <Client>
      <Url>
        http://localhost:11031/
      </Url>
    </Client>
    <Client>
      <Url>
        http://localhost:3669/
      </Url>
    </Client>
    <Client>
      <Url>
        http://localhost:8894/
      </Url>
    </Client>
    <Client>
      <Url>
        http://localhost:8072/
      </Url>
    </Client>
    <Client>
      <Url>
        http://192.168.1.10:20001/
      </Url>
    </Client>
    <Client>
      <Url>
        http://caslocal.xxxxxxx.com/
      </Url>
    </Client>
    <Client>
      <Url>
        http://apilocal.xxxxxxx.com/
      </Url>
    </Client>
    <Client>
      <Url>
        http://actlocal.xxxxxxx.com/
      </Url>
    </Client>
    <Client>
      <Url>
        http://gamegrouplocal.xxxxxxx.com/
      </Url>
    </Client>
    <Client>
      <Url>
        http://192.168.0.188:8085/
      </Url>
    </Client>
    <Client>
      <Url>/</Url>
    </Client>
  </ClientList>
  <DefaultUrl>/</DefaultUrl>
</CasServerConfiguration>