<?xml version="1.0" encoding="utf-8"?>

<CommConfiguration xmlns:i="http://www.w3.org/2001/XMLSchema-instance"
                   xmlns="http://schemas.datacontract.org/2004/07/Application.Config">
  <CurrentUrl>
    http://caslocal.xxxxxxx.com
  </CurrentUrl>
  <SmsApi>
    http://192.168.0.188:9595
  </SmsApi>
  <TuanApibase>
    http://apilocal.xxxxxxx.com
  </TuanApibase>
</CommConfiguration>