<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <!--
 /**********************切记啊**** zbw911 2012.3.26************************/
 
 在日志组件中使用的日志方法不要过多，还有，日志组件仅仅是一个日志入口，
 如果使用了耗时的日志实现，请使用异步处理方式进行性能方面的提升。
 -->

  <!--
  asmfile 属性使用的是相对于应用程序域的相对路径，这点请注意了。
  〈param /> 用来设置要配置的类的属性。传一些参数值等。
 
  -->
  <logsettings>
    <log name="lognet" type="Dev.Log.Impl.ObserverLogToLog4net">
      <param name="filePath" value="" />
    </log>

    <!--<log name="log2console" type="Dev.Log.ObserverLogToConsole" asmfile="bin\Dev.Log.dll">
      <param name="Prex" value="====......"/>
    </log>-->

  </logsettings>

  <logseverity value="error"></logseverity>
</configuration>