@{
    this.ViewBag.Title = "帐号绑定";
}

<div class="right_side">
    <div class="set_nav">
        <span>账号绑定</span>
    </div>
    <div class="mt20">
        <div class="share_bold_title">分享XXXXX记录的活动点滴到合作网站，与那里的朋友们一起分享活动的乐趣吧！</div>
        <ul class="tb_share_t clear">
            <li>
                <span class="sina"></span>
                <div class="gd_arrow_d" style="display: none;"><em class="W_arrline">◆</em><span>◆</span></div>
            </li>
            <li class="current"><span class="qzone"></span>
                <div class="gd_arrow_d"><em class="W_arrline">◆</em><span>◆</span></div>
            </li>
            <li>
                <span class="renren"></span>
                <div class="gd_arrow_d" style="display: none;"><em class="W_arrline">◆</em><span>◆</span></div>
            </li>
            <li>
                <span class="douban"></span>
                <div class="gd_arrow_d" style="display: none;"><em class="W_arrline">◆</em><span>◆</span></div>
            </li>
        </ul>
        <div class="tb_share_c">
            <div class="dark">将你的XXXXX账号与新浪微博账号建立链接,以下内容将自动分享到新浪微博:</div>
            <ul class="share_list">
                <li><em>发表帖子</em></li>
                <li><em>发布活动</em></li>
                <li><em>发布悬赏</em></li>
                <li><em>发布攻略</em></li>
                <li><em>发布视频</em></li>
                <li><em>发布新闻资讯</em></li>
                <li><em>发表图片</em></li>
                <li><em>创建团</em></li>
                <li><em>参加活动</em></li>
            </ul>
            <div>
                <a class="green_btn12 mt20" href="#"><span>建立连接</span></a>
            </div>
        </div>

        <br>
        <ul class="tb_share_t clear">
            <li>
                <span class="sina"></span>
                <div class="gd_arrow_d" style="display: none;"><em class="W_arrline">◆</em><span>◆</span></div>
            </li>
            <li class="current"><span class="qzone"></span>
                <div class="gd_arrow_d"><em class="W_arrline">◆</em><span>◆</span></div>
            </li>
            <li>
                <span class="renren"></span>
                <div class="gd_arrow_d" style="display: none;"><em class="W_arrline">◆</em><span>◆</span></div>
            </li>
            <li>
                <span class="douban"></span>
                <div class="gd_arrow_d" style="display: none;"><em class="W_arrline">◆</em><span>◆</span></div>
            </li>
        </ul>
        <div class="tb_share_c">
            <div class="dark">
                <span class="orange">您绑定的新浪微博授权已过期，请重新建立连接。</span>
            </div>
            <ul class="share_list">
                <li><em>发表帖子</em></li>
                <li><em>发布活动</em></li>
                <li><em>发布悬赏</em></li>
                <li><em>发布攻略</em></li>
                <li><em>发布视频</em></li>
                <li><em>发布新闻资讯</em></li>
                <li><em>发表图片</em></li>
                <li><em>创建团</em></li>
                <li><em>参加活动</em></li>
            </ul>
            <div>
                <a class="green_btn12 mt20" href="#"><span>建立连接</span></a>
            </div>
        </div>
        <br>
        <ul class="tb_share_t clear">
            <li>
                <span class="sina"></span>
                <div class="gd_arrow_d" style="display: none;"><em class="W_arrline">◆</em><span>◆</span></div>
            </li>
            <li class="current"><span class="qzone"></span>
                <div class="gd_arrow_d"><em class="W_arrline">◆</em><span>◆</span></div>
            </li>
            <li>
                <span class="renren"></span>
                <div class="gd_arrow_d" style="display: none;"><em class="W_arrline">◆</em><span>◆</span></div>
            </li>
            <li>
                <span class="douban"></span>
                <div class="gd_arrow_d" style="display: none;"><em class="W_arrline">◆</em><span>◆</span></div>
            </li>
        </ul>
        <div class="tb_share_c">
            <div class="dark">您已绑定新浪微博帐号<span class="orange ml10 bold">豆豆</span></div>
            <div class="mt15">
                <div class="clear Relieve">
                    <div class="l share_list2">
                        <span class="l">同步设置：</span>
                        <div class="l share_lcon">
                            <label>
                                <input type="checkbox">发表帖子</label>
                            <label>
                                <input type="checkbox">发布活动</label>
                            <label>
                                <input type="checkbox">发布悬赏</label>
                            <label>
                                <input type="checkbox">发布攻略</label>
                            <label>
                                <input type="checkbox">发布视频</label>
                            <label>
                                <input type="checkbox">发布新闻资讯</label>
                            <label>
                                <input type="checkbox">发表图片</label>
                            <label>
                                <input type="checkbox">创建团</label>
                            <label>
                                <input type="checkbox">参加活动</label>
                        </div>

                    </div>
                    <span class="green1 r loading">
                        <img class="mr10" src="/images/loading.gif">
                        正在保存</span>
                </div>
                <div class="mt20"><a class="gray_btn12" href="#"><span>解除连接</span></a></div>
            </div>
        </div>
    </div>
</div>