/* Elastislide Style */
.es-carousel-wrapper {
    background: #101010;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px 27px;
    position: relative;
    position: relative;
}

.es-carousel {
    background: #000;
    overflow: hidden;
}

.es-carousel ul { display: none; }

.es-carousel ul li {
    display: block;
    float: left;
    height: 100%;
}

.es-carousel ul li a {
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-touch-callout: none;
    /* option */
    -webkit-transition: all 0.2s ease-in-out;
    border-color: #222;
    border-style: solid;
    display: block;
    opacity: 0.8;
    transition: all 0.2s ease-in-out;
}

.es-carousel ul li.selected a {
    border-color: #fff;
    opacity: 1.0;
}

.es-carousel ul li a img {
    border: none;
    display: block;
    max-height: 100%;
    max-width: 100%;
}

.es-nav span {
    background: transparent url(../images/nav_thumbs.png) no-repeat top left;
    cursor: pointer;
    height: 26px;
    left: 8px;
    margin-top: -13px;
    opacity: 0.8;
    position: absolute;
    text-indent: -9000px;
    top: 50%;
    width: 14px;
}

.es-nav span.es-nav-next {
    background-position: top right;
    left: auto;
    right: 8px;
}

.es-nav span:hover { opacity: 1.0; }