#lightbox {
    left: 0;
    line-height: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 100;
}

#lightbox a img { border: none; }

#outerImageContainer {
    background-color: #fff;
    height: 250px;
    margin: 0 auto;
    position: relative;
    width: 250px;
}

#imageContainer { padding: 10px; }

#loading {
    height: 25%;
    left: 0%;
    line-height: 0;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%;
}

#hoverNav {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

#imageContainer > #hoverNav { left: 0; }

#hoverNav a { outline: none; }

#prevLink, #nextLink {
    background: transparent url(../images/blank.gif) no-repeat; /* Trick IE into showing hover */
    display: block;
    height: 100%;
    width: 49%;
}

#prevLink {
    float: left;
    left: 0;
}

#nextLink {
    float: right;
    right: 0;
}

#prevLink:hover, #prevLink:visited:hover { background: url(../images/prevlabel.gif) left 15% no-repeat; }

#nextLink:hover, #nextLink:visited:hover { background: url(../images/nextlabel.gif) right 15% no-repeat; }


#imageDataContainer {
    background-color: #fff;
    font: 10px Verdana, Helvetica, sans-serif;
    line-height: 1.4em;
    margin: 0 auto;
}

#imageData {
    color: #666;
    padding: 0 10px;
}

#imageData #imageDetails {
    float: left;
    text-align: left;
    width: 70%;
}

#imageData #caption { font-weight: bold; }

#imageData #numberDisplay {
    clear: left;
    display: block;
    padding-bottom: 1.0em;
}

#imageData #bottomNavClose {
    float: right;
    padding-bottom: 0.7em;
    width: 66px;
}

#overlay {
    -moz-opacity: 0.6;
    background-color: #000;
    filter: alpha(opacity=60);
    height: 500px;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 90;
}
	

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.clearfix { display: inline-block; }

/* Hides from IE-mac \*/

* html .clearfix { height: 1%; }

.clearfix { display: block; }
/* End hide from IE-mac */