.vcuImg {
    background-image: url(../images/vcuImg.jpg);
    background-repeat: no-repeat;
    height: 170px;
    margin-bottom: auto;
    margin-right: auto;
    width: 1000px;
}

.vcuCont {
    line-height: 2em;
    position: relative;
}

.tit_vcu {
    color: #000;
    font-family: "microsoft yahei";
    font-size: 22px;
}

.font14yahei {
    color: #333;
    font-family: "microsoft yahei";
    font-size: 14px;
}

.online-qq {
    background-color: #FFFFEF;
    border: 1px solid #F5E1B3;
    font-family: "microsoft yahei";
    padding: 20px;
    position: absolute;
    right: 0px;
    top: 80px;
    width: 100px;
}

.btn-qq {
    background-color: #FFBF05;
    display: block;
    font-family: "microsoft yahei";
    height: 30px;
    line-height: 30px;
    width: 100px;
}

.btn-qq:hover { background-color: #FFD24A; }

.online-qq a {
    color: #000;
    text-decoration: none;
}

.btn-qq em {
    background-image: url(../images/online-qq.png);
    background-position: 0px -37px;
    background-repeat: no-repeat;
    display: inline-block;
    float: left;
    height: 18px;
    margin-left: 12px;
    margin-right: 8px;
    margin-top: 6px;
    width: 16px;
}

.t-center { text-align: center; }